@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-size: 62.5% !important;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --primary-color: #fbb321;
  --size-hd-sale:4rem;
  --size-hd-bot:0rem;
  --size-hd-top: 7rem;
  --radius:2.4rem;
  --pd-block: 2rem;
  --pd-inline: 3rem;
}

body {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.55;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .text-price-headerSale {
    @apply md:text-base font-bold text-sm 
  }
  .border-base{
    @apply border-solid border-[1px]
  }
  .line{
    @apply h-[0.2rem] rounded-[0.4rem] bg-primary-color block my-[0.5rem] mx-0 transition-all duration-500 ease-in-out origin-center
  }
  .line-active{
    transform: translate3d(0, 0.3rem, 0) rotate(45deg) !important;
  }
  .top{
    top: calc(var(--size-hd-sale) + var(--size-hd-top))
  }
  .padding-topBanner{
    padding-top:  1.5rem;
  }
  .beforeGiftCircle{
    width: calc(var(--pd-inline)* 2 - 1.5rem);
    height: calc(var(--pd-inline)* 2 - 1.5rem);
  }
  .beforeGiftCircleRight{
    right: calc((var(--pd-inline)* 2 - 1.5rem) / 2* -1);
  }
  .beforeGiftCircleLeft{
    left: calc((var(--pd-inline)* 2 - 1.5rem) / 2* -1);
  }
}

button, select {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.slick-slider,.slick-list,.slick-track{
  border-radius: inherit;
}