@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-size: 62.5% !important;
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --primary-color: #fbb321;
  --size-hd-sale:4rem;
  --size-hd-bot:0rem;
  --size-hd-top: 7rem;
  --radius:2.4rem;
  --pd-block: 2rem;
  --pd-inline: 3rem;
  --swiper-pagination-active-color: #fff;
  --width-banner:calc(100% + ((100vw - 120rem) / 2) - 1.5rem);
  --cricle:-0.4rem;  
  --pd-sc: 8rem;
  --w:1.9rem;
  --size-wave:calc(40 / 1728* 100vw);
  --gap:1.6rem;
  --size:4rem
}

body {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.55;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .text-price-headerSale {
    @apply md:text-base font-bold text-sm 
  }
  .border-base{
    @apply border-solid border-[1px]
  }
  .line{
    @apply h-[0.2rem] rounded-[0.4rem] bg-primary-color block my-[0.5rem] mx-0 transition-all duration-500 ease-in-out origin-center
  }
  .line-active{
    transform: translate3d(0, 0.3rem, 0) rotate(45deg) !important;
  }
  .top{
    top: calc(var(--size-hd-sale) + var(--size-hd-top))
  }
  .padding-topBanner{
    padding-top:  1.5rem;
  }
  .beforeGiftCircle{
    width: calc(var(--pd-inline)* 2 - 1.5rem);
    height: calc(var(--pd-inline)* 2 - 1.5rem);
  }
  .beforeGiftCircleRight{
    right: calc((var(--pd-inline)* 2 - 1.5rem) / 2* -1);
  }
  .beforeGiftCircleLeft{
    left: calc((var(--pd-inline)* 2 - 1.5rem) / 2* -1);
  }
}

button, select {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.swiper-pagination-bullet{
  --swiper-pagination-active-color: #fbb321;
  background-color: var(--swiper-pagination-active-color)!important;
  opacity: 1!important;
  position: relative;
}
.swiper-pagination-bullet::before{
  content: '';
  position: absolute;
  border:1px solid transparent;
  border-radius: 100rem;
  top:var(--cricle);
  right:var(--cricle);
  left:var(--cricle);
  bottom:var(--cricle);

}

.swiper-pagination-bullet-active-primary{
  --swiper-pagination-active-color: #fbb321;

}
.swiper-pagination-bullet-active{
  background-color: var(--swiper-pagination-active-color)!important;
  position: relative;
}
.swiper-pagination-bullet-active::before{
  content: '';
  position: absolute;
  border:1px solid #fbb321;
  border-radius: 100rem;
  top:var(--cricle);
  right:var(--cricle);
  left:var(--cricle);
  bottom:var(--cricle);
}
.swiper-pagination {
  margin-top: 2rem;
}
.bannder-image{
  padding-top: calc((550 / 1448) * 100%);
}
@media only screen and (max-width: 767px) {
  :root{
    --pd-block: 1.4rem;
    --pd-inline: 2rem;
  }
}
.container{
    width: 100%;
    max-width: 123rem;
    height: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.title-sub{
  padding-right: calc(var(--w) + .4rem);
}
.padding-image-product{
  padding-top: calc((1 / 1)* 100%);
}
.border-product{
  border-color: rgba(0, 0, 0, 0.1);
}
.waveContainer {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  background-color: #ffb700;
}

.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.margin-top-Sale{
  margin-top: calc(var(--size-wave) + var(--pd-sc));
}

.right-Timer::after{
  right: calc(var(--gap) / 2* -1 - .3rem);
}

.button-navigation{
  width: var(--size);
  height: var(--size);
  color:var(--primary-color);
  transition:all 0.3 ease-in-out;
}
.button-navigation:hover{
  color: white;
}
.button-navigation::before{
  content: '';
  position: absolute;
  top: 0; 
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--primary-color);
  transition: 0.3s ease-out;
  z-index: -1;
  border-radius: 999px;
}
.button-navigation:hover::before {
  width: 100%;
}
.button-navigation-left{
  right: unset;
  left: calc(var(--size) / 2* -1);
}

.button-navigation-right{
  left: unset;
  right: calc(var(--size) / 2* -1);
}

.wave {
  width: 100%;
  --size: 25px;
  --R: calc(var(--size)*1.28);
  -webkit-mask:
    radial-gradient(var(--R) at 50% calc(1.8*var(--size)),#000 99%,#0000 101%) 
      calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(-.8*var(--size)),#0000 99%,#000 101%) 
      50% var(--size)/calc(4*var(--size)) 100% repeat-x;
  background: linear-gradient(90deg,#fbb321,#fbb321);
  height: 85px;
  -webkit-transform: translateZ(0);
}

.rounded-custom {
  border-radius: 30rem 0 0 0;
}
.event-right-inner{
  width: calc(100% + (100vw - 120rem) / 2);
}
.text-black-heading{
  color:rgb(68, 68, 68);
}